<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--
    <section class="jumbotron">
        <h1>{{msg | uppercase}}</h1>
        <h1>{{22/7 | number:'1.2-2'}}</h1>
        <h1>{{studentName || "deepak"}}</h1>
    </section>
    <div class="container">
        <aurionpro-student></aurionpro-student>
    </div>

<div>
    <aurionpro-blueball></aurionpro-blueball>
</div>


<div>
    <multi-bind></multi-bind>
</div>


<btn-toggle [valueForText]="myText" [onColor]="myOnColor" [offColor]="myOffColor" (stateChange)="clickHandler($event)"></btn-toggle >
-->

<btn-rating [rating]="'2.5'"></btn-rating>
</body>
</html>