<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.js"></script>
    <title>Number Facts</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body ng-app='mainModule'>
    <center>
        <h2>Number Facts</h2>
        <div ng-controller="mainController">
            Enter Number: <input type="number" ng-model="num">
            <button class="btn btn-success" ng-click="btnClick()">Get Fact</button>
            <br><br>
            <p>{{fact}}</p>
        </div>
    </center>
</body>

<script>

    angular.module('mainModule', [])
        .controller('mainController', [
            '$scope','numFactService',
            function ($scope, numFactService) {
                console.log("controller created")
                
                $scope.btnClick = function () {
                    numFactService.generateFacts($scope.num)
                        .then((r)=>{
                            $scope.fact = r;
                        })
                        .catch((e)=>{
                            $scope.fact = e;
                        })
                }
            }
        ])
        .factory('numFactService', [
            '$q', '$http',
            function ($q, $http) {
                let obj = {};
                obj.generateFacts = function (num) {
                    return $q((resolve, reject) => {
                        $http({
                            method: "GET",
                            url: "http://numbersapi.com/" + num
                        })
                            .then(function (response) {
                                resolve(response.data);
                                console.log(response);
                            },
                                function (response) {
                                    reject(response.statusText);
                                })
                    })
                }
                return obj;
            }
        ])
</script>

</html>